{% extends "base.html" %} 
{% block title %}Job Description{% endblock %}

{% block content%}
    <h2>See how smart you are</h2>

    <div style="text-align: center;">
        <form method="POST">
            <!-- <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type='email' id="email" name="email" required> -->

            <label for="resume">Resume:</label>
            <input id="resume" name="resume" rows="6" required>

            <label for="resume">Job Posting:</label>
            <input id="resume" name="jobDescription" rows="6" required>

            <input type="submit" value="Submit Resume">
        </form>
    </div>
{%endblock%}