{% extends "base.html" %} 
{% block title %}Job Description{% endblock %}

{% block content%}
    <h2>See how you compare</h2>

    <div style="text-align: center;">
        <form method="POST">
            <label for="jobDescription">Job Description:</label>
            <input id="jobDescription" name="jobDescription" rows="6" required>
            <label for="resume">Resume:</label>
            <input id="resume" name="resume" rows="6" required>

            <input type="submit" value="Submit Resume">
        </form>
    </div>
{%endblock%}